<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
        <!-- 导航菜单 -->
        <div class="container-fluid px-4">
            <div class="row">
                <div class="col-12">
                   <!-- templates/navbar.html -->
                    <nav class="main-nav">
                        <ul class="nav-list">
                            <li class="nav-item {% if request.path == url_for('index') %}active{% endif %}">
                                <a href="{{ url_for('index') }}" class="nav-link">首页</a>
                            </li>
                            <li class="nav-item {% if request.path == url_for('dashboard') %}active{% endif %}">
                                <a href="{{ url_for('dashboard') }}" class="nav-link">所有国家</a>
                            </li>
                            <li class="nav-item {% if request.path == url_for('china') %}active{% endif %}">
                                <a href="{{ url_for('china') }}" class="nav-link">中国</a>
                            </li>
                            <li class="nav-item {% if request.path == url_for('predict_page') %}active{% endif %}">
                                <a href="{{ url_for('predict_page') }}" class="nav-link">疫情预测</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

</body>
</html>